h2 {
    color: #008080;
    background-color: rgb(89, 151, 0);
}

button {
    color: #ff00ff;
    background-color: rgb(0, 255, 255);
}

p {
    color: #808000;
}

body {
    background-color: #cc55ee;
}